<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Document</title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
	<div class="container-fluid text-center" >
	
		<div>
			<h3>Document</h3>
				
		</div>
		
		<div>
			<h3>[[${message}]]</h3>
		</div>
		<div class="row border rounded m-3 p-3">
		<th:block th:each="doc: ${listDoc}">
	
		
			<div class="col">
			<div>
			 		<img th:src="@{/images/document.jpeg}" width="50" />
			 </div>
			 <div>
				<a th:href="@{'/download?id=' + ${doc.id}}"><span th:utext="${doc.name}"></span></a>
			
			</div>
			<!--  
			 <div>
			<span th:utext="${doc.content}"></span>
			</div>
			-->
			<div>
			<span th:utext="${doc.size}"></span>
			</div>
			
			
			<!-- 
			 	
			 	
			 	<div>
			 		<a href="@{/download?= + ${doc.id}}">[[${doc.name}]]</a>
			 	</div>
			 	
			 	
			-->
			</div>
		</th:block>
		</div>
		
		<form th:action="@{upLoad}" method="post" enctype="multipart/form-data" style="max-width: 600px; margin:0 auto">
		
		<div class="border rounded m-3">
			<h2>Upload your files:</h2>
			
		<p>	<input type="file" name="document" required /> </p>
		
		<p> <input type="submit" value="upLoad" class="btn btn-primary"></p>
			
		</div>
		</form>
	
	</div>
	
	<div>
			<h3>[[${imageString}]]</h3>
		</div>

</body>
</html>